.about {
    display: flex;
    flex-direction: column;
    padding: 90px 20%;

    @media screen and (max-width:768px) {
        padding: 90px 15%;
    }
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}

.half {
    width: 50%;

    @media screen and (max-width:768px) {
        width: unset;
    }
}

.profile {
    width: 30%;

    @media screen and (max-width:768px) {
        width: 50%;
    }
}