.about{
    display:flex;
    justify-content: center;
    padding-top: 80px;
}

.box{
    width: 66%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
    @media screen and (max-width:768px){
        flex-direction:column;
        img{
            height: 170px;
        }
    }
    @media screen and (min-width: 1024px) {
        width: 70%;
    }
    @media screen and (min-width: 1440px) {
        width: 51%;
    }
    @media screen and (min-width: 2560px) {
        width: 31%;
    }
    img{
        max-height: 250px;
    }
}
.leftCol{
    text-align: left;
    width: 100%;
    margin-right: 40px;
    @media screen and (max-width:768px){
        margin:0px;
    }
}
.rightCol{
    text-align: left;
    width: 100%;
    margin-left: 40px;
    @media screen and (max-width:768px){
        margin:0px;
    }
}