.about {
    display: flex;
    flex-direction: column;
    padding: 90px 20%;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.half {
    width: 50%;
}

.profile {
    img {
        width: 30%;
    }
}

@media screen and (max-width:768px) {
    .profile {
        img {
            width: 50%;
        }
    }

    .half {
        width: unset;
    }

    .container {
        flex-direction: column;
    }

    .about {
        padding: 90px 15%;
    }
}