.header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    top:0;
    overflow: hidden;
    width: 100%;
    background-color: #F7F7F7;
    opacity: 90%;
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: #313F63;
    text-decoration: underline;
}