.header2 {
    padding: 10px;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #88847f;
    background-color: #F7F7F7;
    opacity: 0.90;
    z-index: 1;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
}

.header2_center {
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    display: flex;

    img {
        height: 40px;

        @media screen and (max-width: 540px) {
            height: 35px;
        }
    }

    a {
        margin: 0;
    }

}

.header2_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;

    img {
        height: 20px;
    }

    @media screen and (max-width: 540px) {
        display: none;
    }

}

.mobile_removed {
    @media screen and (max-width: 540px) {
        display: none;
    }
}

.header2_left {
    align-items: center;
    display: flex;
    flex: 1;
}

.header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(200, 208, 211, 0.93);
    border-bottom: 1px solid #88847f;
    /* background: linear-gradient(217deg, #869aa5, rgba(219, 195, 195, 0) 70.71%),
            linear-gradient(127deg, #869aa5, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #F7F7F7, rgba(0,0,255,0) 70.71%); */
}

.header-bg {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(247, 247, 0247, .93);
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #313F63;
    text-decoration: underline;
}