.landing-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing2 {
    position: absolute;
    /* z-index: 1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    img {
        width:100vw;
        height:auto;
    }
    h1 {
        color: white;
        font-size: 130px;
        @media screen and (max-width:768px){
            font-size: 60px;
        }
        @media screen and (max-width:375px){
            font-size: 50px;
        }
    }
    a {
        font-size: 20px;
        @media screen and (max-width:768px){
            font-size: 13px;
        }
        @media screen and (max-width:375px){
            font-size: 10px;
        }
    }
}
.landing2_text {
    position: absolute;
    opacity: 1;
    line-height: 0;
    
}
  .landing2.fade-out {
    opacity: 0;
    /* z-index: 1; */
    visibility: hidden;
  }
  
  .landing2.fade-in {
    opacity: 1;
    visibility: visible;
    /* z-index: 2; */
  }

a{
    margin: 10px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
a:hover {
    color: #313F63;
}

.landing{
    @media screen and (max-height:768px){
        img{
            height:30px;
            width: 30px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(200, 208, 211);
    /* background: linear-gradient(217deg, #91a4af, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #839baa, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #F7F7F7, rgba(0,0,255,0) 70.71%); */
}