.landing{
    @media screen and (max-height:768px){
        img{
            height:30px;
            width: 30px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 99vw;
    background: linear-gradient(217deg, #ad9a7e, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #4c5a7e, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #F7F7F7, rgba(0,0,255,0) 70.71%);
}