.rectangle {
    /* background-color: #EBEBEB; */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    max-width: 400px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius:10px;
    /* box-shadow: 1px 1px 10px 1px grey; */
    @media screen and (max-width: 768px) {
        flex-direction: column;
        img{
            height: 170px;
        }
    }
    img{
        max-height: 250px;
    }
}
.hover:hover{
    opacity:50%;
    content: attr(title);
}