.App {
  font-family: "Cardo", serif;
  /* font-weight: lighter; */
  font-style: normal;
  background-color: #F7F7F7;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}  

h1{
  font-size: 61px;
  font-weight: lighter;
  color: #313F63;
  @media screen and (max-width: 768px){
    font-size: 50px;
  }
}

h2{
  font-size: 45px;
  font-weight: lighter;
  color: #827057;
  @media screen and (max-width: 768px){
    font-size: 30px;
  }
}

h3{
  font-size: 37px;
  font-weight: lighter;
  color: #313F63;
  @media screen and (max-width: 768px){
    font-size: 27px;
  }
}

h4{
  font-size: 29px;
  font-weight: lighter;
  /* line-height: 12px; */
  @media screen and (max-width: 767px){
    font-size: 23px;
    /* line-height: 10px; */
  }
}

h5{
  font-size: 21px;
  font-weight: lighter;
}

h6{
  font-size: 16px;
  font-weight: lighter;
}